.section_one {
  width: 100%;
  height: 70vh;
  background-image: url("/monomito_section_um.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.section_one_box_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
}

.section_one_title {
  align-items: center;
  display: block;
  justify-content: center;
  color: white;
  margin: 0;
  padding: auto;
}

.section_one h1 {
  text-transform: uppercase;
  font-size: 8vh;
  line-height: 6.9vh;
  font-family: PhonkFont;
}

.section_one_text {
  padding-top: 1rem;
  font-size: 3vh;
  font-family: BebasKaiFont;
  line-height: 3vh;
  color: white;
}

.section_one_logo_monomito {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  justify-content: end;
  align-items: end;
}

.section_one_logo_monomito_image {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: 3vh;
  margin-right: 3vh;
}

@media only screen and (max-width: 1024px) {
  .section_one {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section_one h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 8vw;
    line-height: 7vw;
    font-family: PhonkFont;
  }

  .section_one_text {
    margin-top: 5px;
    text-align: center;
    padding: 0;
    font-size: 6vw;
    line-height: 5vw;
    font-family: BebasKaiFont;
    color: #fff;
  }

  .section_one_logo_monomito_image {
    margin: 2% 0 0;
    width: 6rem;
    height: 6rem;
  }

  .section_one_logo_monomito {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}