.teamSlider {
    padding: 50px 0;
    width: 100%;
    min-height: 100dvh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamSlider_wrapper {
    margin: 0 auto;
    max-width: 1280px;
}

.teamSlider_title {
    margin-bottom: 50px;
}

.teamSlider_title h1 {
    font-family: PhonkFont;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}

.teamSlider_slider {
    width: 100%;
}

.teamSlider_item {
    width: 100%;
}

.teamSlider_picture {
    margin: 0 auto;
    width: 50%;
}

.teamSlider_item h2 {
    font-family: PhonkFont;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}

.teamSlider_item h3 {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}

.teamSlider_item p {
    margin: 22px auto 0;
    width: 70%;
    font-size: 1rem;
    text-align: center;
    color:#FFF;
}

@media only screen and (max-width: 1024px) {
    .teamSlider_wrapper {
        width: 100%;
    }

    .teamSlider_title h1 {
        font-size: 2rem;
    }

    .teamSlider_picture {
        width: 100%;
    }

    .teamSlider_picture img {
        object-fit: contain;
    }

    .teamSlider_item h2 {
        margin-top: 8px;
    }

    .teamSlider_item p {
        width: 90%;
    }
}