body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

header {
  background-color: rgb(5, 5, 5);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.header-title {
  font-size: 1.3em;
  font-weight: 400;
  color: white;
}

a {
  text-decoration: none;
}
.close-menu {
  display: none;
  color: white;
}
.headerlist {
  list-style: none;
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  vertical-align: center;
  text-align: center;
  gap: 3rem;
}

.headerlist a {
  text-decoration: none;
  color: inherit;
}

.listaicones {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.headeritemlist:hover {
  color: rgb(188, 188, 188);
  transition: 0.5s ease;
}

.imagem-monomito {
  width: 100%!important;
}

@media (max-width: 768px) {
  header {
    display: flex;

    flex-direction: column;
  }

  .headerlist {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 0;
    width: 100%;
    padding-left: 0 ;
    background-color: red;
  }  
  .headerlist a {
    width: 100%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .headerlist li {
    text-align: center;
    width: 100%;
    display: block;
  }
  
  .close-menu {
    display: block;
  } 
}