@font-face {
  font-family:BebasKaiFont ;
  src: url(../font/BebasKai.ttf);
}

@font-face {
  font-family:PhonkFont ;
  src: url(../font/Phonk\ Contrast\ DEMO.otf);
}

body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

header {
  background-color: rgb(5, 5, 5);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  padding: 0.85rem 0rem;
}

.header-title {
  font-family: PhonkFont;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  padding-left: 4rem;
}

.openclose {
  cursor: pointer;
  display: none;
}

a {
  text-decoration: none;
}

.headerlist {
  font-family: BebasKaiFont;
  list-style: none;
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 2rem;
  overflow: hidden;
}

.headerlist a {
  width: 90px;
  text-decoration: none;
  color: inherit;
}

.headerlist li {
  width: 100%;
}


.listaicones {
  align-items: center;
  list-style: none;
  display: flex;
  padding-left: 0;
  gap: 1rem;
  padding-right: 10rem;
}

.headeritemlist:hover {
  color: rgb(188, 188, 188);
  transition: 0.5s ease;
}

.imagem-monomito {
  width: 100%!important;
}

@media (max-width: 946px) {
  .headerlist {
    padding-left: 3rem;
  }
}


@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    }

  .header-title {
    padding-right: 4rem;
  }

  .openclose {
    display: flex;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    margin-left: auto;
  }

  .itemsb {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
  }

  .headerlist {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 0;
    width: 100%;
    padding: 0;
  }  
  .headerlist a {
    width: 100%;
    display: flex;
    padding: 2rem 0;
  }
  
  .headerlist li {
    text-align: center;
    width: 100%;
    display: block;
  }

  .listaicones {
    padding-right: 0;
  }


}