*{
  margin: 0;
  padding: 0;
  outline: 0;
}

html, body {margin: 0; height: 100%; overflow: hidden}

header {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.listaicones {
  gap: 0 35px;
  align-items: center;
  list-style: none;
  display: flex;
}

.icones:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease, margin 0.5s ease;
  margin: 0 5px;
}
.icones:not(:hover) {
  transition: transform 0.4s ease-out, margin 0.5s ease-out;
}