.embed_video_section {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.embed_video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
}
  
.embed_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100.1%;
}