.about {
    padding: 60px 0;
    width: 100%;
    background-color: #000;
}

.about_wrapper {
    margin: 0 auto;
    width: 80%;
}

.about_title {
    display: flex;
    justify-content: center;
}

.about_title h1 {
    font-family: PhonkFont;
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
}

.about_logo {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.about_logo img {
    filter: invert(1);
}

.about_shortDescription {
    margin: 0 auto;
    width: 50%;
}

.about_shortDescription span {
    font-family: BebasKaiFont;
    font-size: 50px;
    line-height: 0px;
    color: #FFF;
}

.about_shortDescription p {
    font-size: 20px;
    text-align: center;
    color: #FFF;
}

.about_description {
    margin: 120px 0;
    width: 100%;
}

.about_description h2 {
    font-family: PhonkFont;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}

.about_description_texts {
    margin: 50px auto 0;
    width: 70%;
}

.about_description_texts p {
    margin-bottom: 16px;
    font-size: 20px;
    text-align: center;
    color: #FFF;
}

.about_lastYears {
    padding: 20px 0;
}

.about_lastYears > div {
    margin: 0 auto;
    width: 70%;
}

.about_lastYears h2 {
    font-family: PhonkFont;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}

.about_lastYears_texts {
    display: grid;
}

.about_lastYears_texts h3 {
    margin: 44px 0 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: PhonkFont;
    font-size: 1.8rem;
    font-weight: bold;
    color: #25D366;
}

.about_lastYears_texts ul {
    list-style: disc;
    font-size: 32px;
    color: #fff;
}

.about_lastYears_texts p {
    margin: 20px 0;
    font-size: 1.3rem;
    font-weight: 400;
    color: #FFF;
}

@media only screen and (max-width: 767px) {
    .about_logo img {
        width: 80%;
        height: 210px;
    }
}

@media only screen and (max-width: 1023px) {
    .about {
        padding: 30px 0;
    }

    .about_shortDescription {
        width: 100%;
    }

    .about_shortDescription p {
        font-size: 15px;
    }

    .about_title h1 {
        font-size: 2rem;
    }
    
    .about_description {
        margin: 50px 0;
    }

    .about_description h2 {
        font-size: 2rem;
    }

    .about_description_texts {
        margin-top: 20px;
        width: 100%;
    }

    .about_description_texts p {
        width: 100%;
        font-size: 15px;
    }

    .about_lastYears > div {
        width: 100%;
    }

    .about_lastYears h2 {
        font-size: 2rem;
    }

    .about_lastYears_texts h3 {
        margin: 38px 0 0px;
        font-size: 1.4rem;
    }

    .about_lastYears_texts p {
        width: 100%;
        font-size: 1rem;
    }

}