.our_achievements {
  box-sizing: border-box;
}

.our_achievements_wrapper {
  background-color: black;
  color: white;
  padding: 4rem 0;
}

.our_achievements_title {
  width: 80%;
  margin: 0 auto 0;
  font-family: PhonkFont;
  font-size: 3rem;
}

.our_achievements_allinfos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 50px auto 0;
}

.our_achievements_allinfos_container {
  gap: 10rem;
  display: flex;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.our_achievements_allinfos_container_achievements h1 {
  font-size: 27px;
  padding-bottom: 5px;
  padding-top: 23px;
  display: flex;
}

.our_achievements_allinfos_container_achievements h1 span {
  margin: 0 5px;
}

.our_achievements_allinfos_container p {
  font-size: 17px;
  color: rgb(205, 205, 205);
}

.trofeu {
  width: 100px;
}

@media only screen and (max-width: 768px) {
  .our_achievements_wrapper {
    padding: 2rem 0;
  }

  .our_achievements_allinfos {
    grid-template-columns: repeat(1, 1fr);
    margin: 14px auto;
  }

  .our_achievements_title {
    font-size: 2rem;
  }

  .page_our_achievements_wrapper {
    padding: 2rem 0 4rem;
  }
}